html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    width:100%;
}
*,*::before, *::after{
    box-sizing: inherit;
}

body{
    width: 100%;
    font-family: Montserrat;
    background: #292929;
    margin: 0;
}

.main_page{
    background: url('../websiteAZ/assets/images/new-foto-backgr.jpg') no-repeat;
    background-size: 115%;
    background-position: top;
    padding-left: 4%;
    height: 900px;
}

.name_and_links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 17.5%;
}

.text_left{
   margin-bottom: 5.9%;
}

.name{
    font-family: Montserrat;
    font-size: 4.13em;
    font-weight: 700;
    margin-top: 30%;
    letter-spacing: 0.06em;
    line-height: 1em;
    margin-bottom: 2%;
}

.vedyschi_and_fokysnic{
    display: flex;
    flex-direction: row;
}

.vedyschi{
    font-family: Bookman Old Style;
    font-size: 2.19em;
    letter-spacing: -0.01em;
}

.line{
  max-height: 1.25em;
  margin: 3.1% 2.7% 0 2.7%;
  width: 0.19em;
  height: 1.16em;
}

.phone{
    font-size: 1.55em;
    margin-top: 12.5%;
    font-weight: 500;
    color: white;
    margin-bottom: 3%;
}

.phone:hover{
    color: rgb(58, 58, 58);
    transition: 1s;
}

.text_under_phone{
    display: flex;
    flex-direction: row;
}

.phone_img{
    width: 13%;
    height: 15%;
    margin-left: -30px;
}

.gift{
    font-family: Montserrat;
    font-size: 1.25em;
    margin-left: 25px;
    letter-spacing: 0.05em;
}

.gift_img{
    width: 13%;
    height: 13%;
    margin-top: -30px;
}

.likes_two{
    margin-top: 13%;
}

.like{
    display: flex;
    flex-direction: row;
}

.like_img{
    width: 6%;
    height: 6%;
    margin-top: 10px;
}

.like_description{
    margin-left: 4%;
    font-family: Bookman Old Style;
    font-size: 1.25em;
    color: white;
    margin-bottom: 2.5%;
}

.like_description2{
    margin-left: 4%;
    font-family: Bookman Old Style;
    font-size: 1.25em;
    color: white;
    
}

.cosial_media{
    list-style-type: none;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 5%;
    margin-top: 90%;
    /*margin-left: -45%;
    max-height: 30%;*/
    padding: 0;
}

.link{
    width: 70%;
}

.link:hover{
   width: 85%;
   transition: 1s;
}

a {
    text-decoration:none;
  }

  /* секция видео */
  
.video_promo{
    padding-left: 7%;
    background: #292929;
}

  .video{
    font-family: Montserrat;
    font-size: 2.8em;
    font-weight: 500;
    color: white;
    text-align: center;
    padding-top: 3.3%;
    margin: 0 8% 0 0;
  }

  .video_description{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
    margin-right: 8%;
  }

  .kavichki{
    width: 1.5%;
    height: 1.5%;
    margin-top: -7px;
  }

  .video_text{
    font-family: Bookman Old Style;
    font-size: 1.25em;
    letter-spacing: 0.02em;
    color: white;
  }

  .video_prosmotr{
    font-family: Montserrat;
    font-size: 1.6em;
    color: white;
    text-align: center;
    margin-left: 18%;
  }

  .video_all_promo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    padding-bottom: 5%;
  }

  .first_video{
    margin-right: 4%;
  }

  .second_video{
    margin-right: 8%;
  }

  .first_video-320{
    display: none;
  }

  .second_video-320{
    display: none;
  }
   /* секция обо мне */

   .foto_and_about-me{
    display: flex;
    flex-direction: row;
    background-color: #AEAFB3;
    padding-left: 4%;
    height: 900px;
   }

   .black_foto{
    width: 50%;
    height: 100%;
    margin-left: 13%;
   }

   .black_foto-720{
    display: none;
   }

   .right_about-me{
    margin-right: 0;
    margin-left: -4%;
   }

   .about_me{
    font-size: 1.7em;
    text-align: center;
    letter-spacing: 0.01em;
   }

   .all_about-me_description{
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    gap: 2% 0.01%;
   }

   .numbers{
    font-family: montserrat;
    font-size: 1.9em;
    font-weight: 550;
    margin: 0;
   }

   .text_about-me{
    font-family: Bookman Old Style;
    font-size: 0.3em;
   }

   .dollar5{
    width: 33%;
   }

/* футер */

.all_fotter_part{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding-bottom: 2.3%;
    padding-left: 5%;
    background: #292929;
}

.first_part_footer{
    margin: 2.5% 0 0 -5%;
}

.name_footer{
    font-family: Montserrat;
    font-size: 1.58em;
    font-weight: 400;
    color: white;
}

.vedyschi_and_fokysnic_footer{
    display: flex;
    flex-direction: row;
}

.vedyschi_footer{
    font-family: Montserrat;
    font-size: 0.1em;
    letter-spacing: -0.01em;
    color: white;
}

.line_footer{
  margin: 7px 5px 0 5px;
  width: 1px;
  height: 9px;
}

.cosial_media_fotter{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 0.5%;
    margin: 15% 0 0 15%;
    width: 300px;
    padding: 0;
}

.link_fotter{
    width: 78%;
}

.last_part{
    margin-top: 2.5%;
    margin-left: 7%;
}

.phone_footer{
    font-size: 26px;
    font-weight: 400;
    color: white;
    margin-bottom: 5px;
    margin-top: 27px;
}

.phone_footer:hover{
    color: rgb(134, 134, 134);
    transition: 1s;
}

.text_under_phone_footer{
    display: flex;
    flex-direction: row;
}

.phone_img_footer{
    width: 10%;
    height: 12%;
    margin-left: -15px;
}

.gift_footer{
    font-family: Montserrat;
    font-size: 8px;
    font-weight: 100;
    margin-left: 15px;
    letter-spacing: 0.05em;
    color: white;
}

.gift_img_footer{
    width: 12%;
    height: 12%;
    margin-top: -30px;
    margin-left: -20px;
}

/* начало работы с медиа квери*/

@media (max-width: 1921px) {
    .main_page{
        height: 768px;
        background-size: 100%;
    }

    .foto_and_about-me{
        height: 768px;
       }


       .black_foto{
        width: 45%;
        margin-left: -60px;
       }

    
    .about_me{
        margin-top: 50px;
        margin-bottom: 60px;
        transition: 1s;
    }
    
        .right_about-me {
            margin-left: 50px;
            transition: 1s;
        }
        
        .numbers{
            font-size: 1.3em;
            transition: 1s;
        }
        
        .dollar5{
            width: 22%;
        }
        
        .text_about-me{
            font-size: 18px;
            transition: 1s;
        }
        
        .all_about-me_description{
            gap: 9% 3%;
            transition: 1s;
            }
    
            .text_about-me{
                font-size: 17px;
                transition: 1s;
               }


}


@media (max-width: 1441px) {

    .main_page{
        height: 900px;
        background-size: 115%;
    }

.text_left{
    margin-top: 100px;
    transition: 1s;
}

.cosial_media{
    margin-top: 150px;
    transition: 1s;
}


.video_text{
    font-size: 23px;
    transition: 1s;
}

.foto_and_about-me{
    height: 900px;
   }

.right_about-me {
    margin-right: 0;
    margin-left: -40px;
    transition: 1s;
}

.all_about-me_description{
   gap: 10% 1%;
   transition: 1s;
   }

.text_about-me{
    font-size: 20px;
    transition: 1s;
   }

   .dollar5{
    width: 20%;
    transition: 1s;
   }

.like_description{
    font-size: 24px;
}

.like_description2{
    font-size: 24px;
}

.all_fotter_part{
    padding-left: 10%;
    transition: 1s;
}

}

@media (max-width: 1281px) {

    .main_page{
        height: 768px;
        background-size: 115%;
    }

    .text_left{
        margin-top: 70px;
        transition: 1s;
    }
    
    .cosial_media{
        margin-top: 110px;
        transition: 1s;
    }

.vedyschi{
    font-size: 1.9em;
    transition: 1s;
}

.phone{
    font-size: 35px;
    margin-top: 10%;
}

.phone_img{
    width: 10%;
    height: 10%;
    margin-left: -15px;
}

.gift{
    font-size: 17.5px;
    transition: 1s;
}

.gift_img{
    width: 10%;
    height: 10%;
    margin-top: -15px;
    transition: 1s;
}

.kavichki{
    width: 2%;
    height: 2%;
}

.likes_two{
    margin-top: 10%;
    transition: 1s;
}

.foto_and_about-me{
    height: 768px;
   }

.about_me{
    margin: 50px 0;
    transition: 1s;
}

.right_about-me {
    margin-right: 0;
    margin-left: -30px;
    transition: 1s;
}

.numbers{
    font-size: 1.3em;
    transition: 1s;
}

.dollar5{
    width: 22%;
}

.text_about-me{
    font-size: 18px;
    transition: 1s;
}

.all_fotter_part{
    padding-left: 10%;
    transition: 1s;
}


}

@media (max-width: 1025px) {

    .main_page{
        height: 768px;
        background-size: 137%;
    }
.name_and_links{
    margin-left: 100px;
}

    .text_left{
        margin-top: 70px;
        transition: 1s;
    }
    
    .cosial_media{
        margin-top: 110px;
        margin-right: -50px;
        transition: 1s;
    }

.vedyschi{
    font-size: 1.9em;
    transition: 1s;
}

.phone{
    font-size: 35px;
    margin-top: 10%;
}

.phone_img{
    width: 10%;
    height: 10%;
    margin-left: -15px;
}

.gift{
    font-size: 17.5px;
    transition: 1s;
}

.gift_img{
    width: 10%;
    height: 10%;
    margin-top: -15px;
    transition: 1s;
}

.likes_two{
    margin-top: 10%;
    transition: 1s;
}

.kavichki{
    width: 2.5%;

  }

.black_foto{
    width: 60%;
    margin-left: -40px;
   }

.foto_and_about-me{
    height: 768px;
   }

.about_me{
    margin-top: 50px;
    margin-bottom: 0;
    transition: 1s;
}

    .right_about-me {
        margin-right: 0;
        margin-left: -200px;
        transition: 1s;
    }
    
    .numbers{
        font-size: 1.3em;
        transition: 1s;
    }
    
    .dollar5{
        width: 22%;
    }
    
    .text_about-me{
        font-size: 17px;
        transition: 1s;
    }
    
    .all_about-me_description{
        gap: 9% 0.01%;
        margin-top: 50px;
        transition: 1s;
        }


          
    .all_fotter_part{
        padding-left: 10%;
        transition: 1s;
    }

}



@media (max-width: 801px) {


    .main_page{
        height: 600px;
        background-size: 147%;
    }

    .text_left{
        margin-top: 0;
    }

    .name_and_links{
        margin-left: 30px;
    }

    .name{
        font-size: 3.5em;
        transition: 1s;
    }
    
    .vedyschi{
        font-size: 1.4em;
        transition: 1s;
    }
    
    .line{
        margin: 2.2% 2.7% 0 2.7%;
        width: 0.13em;
        height: 0.8em;
        transition: 1s;
    }
    
    .gift{
        font-size: 15px;
        transition: 1s;
    }
    
    .link{
        width: 50%;
        transition: 1s;
    }

    .like_img{
        width: 5%;
        height: 5%;
    }

    .like_description{
        font-size: 17px;
    }
    .like_description2{
        font-size: 17px;
    }

.cosial_media{
    margin-top: 75px;
    margin-right: -75px;
    transition: 1s;
}

.video_text{
    width: 560px;
}

.foto_and_about-me{
    margin-left: 0;
    padding-left: 0;
    height: 600px;
    transition: 1s;
}

.black_foto{
    width: 55%;
    margin-left: 0;
    transition: 1s;
}

.right_about-me{
    margin-right: 0;
    margin-left: -25%;
    transition: 1s;
}


.text_about-me{
    font-size: 11px;
    transition: 1s;
}

.all_about-me_description{
    gap: 3% 0.01%;
    margin-top: 20px;
    transition: 1s;
    }

    .all_fotter_part{
        flex-direction: column;
        padding-left: 0;
        transition: 1s;
    }
    
    .first_part_footer{
        margin-left: -1%;
        transition: 1s;
    }
    
    .cosial_media_fotter{
        margin-left: 0;
        margin-top: 20px;
        transition: 1s;
    }

}

@media (max-width: 783px) {

.video_all_promo{
    flex-direction: column;
    gap: 25px;
    margin-left: 20%;
    transition: 1s;
}

}

@media (max-width: 641px) {

    .main_page{
        height: 480px;
        background-size: 155%;
    }

.cosial_media{
    display: none;
}

.name{
    margin-top: 15%;
    font-size: 45px;
    transition: 1s;
}



.vedyschi{
    font-size: 1.4em;
    letter-spacing: -0.01em;
    transition: 1s;
}

.line{
    max-height: 1.25em;
    width: 0.15em;
    height: 1em;
    margin-top: 1.5%;
    transition: 1s;
}

.phone{
    font-size: 1.3em;
    margin-top: 5%;
    transition: 1s;
}

.gift{
    width: 200px;
    font-size: 10px;
    transition: 1s;
}

.gift_img{
    margin-left: -25%;
    margin-top: 55px;
    transition: 1s;
}

.likes_two{
    margin-top: 5%;
}

.like_img{
    width: 4%;
    height: 4%;
    transition: 1s;
}

.like_description{
    font-size: 1em;
    transition: 1s;
}

.like_description2{
    font-size: 1em;
    transition: 1s;
    }

.kavichki{
    width: 3%;
    transition: 1s;
    
}

.foto_and_about-me{
    margin-left: 0;
    padding-left: 0;
    height: 1470px;
    transition: 1s;
}

.about_me{
    margin-top: 10px;
}

.right_about-me{
    margin-left: 30%;
    margin-top: 3%;
    
    background: url('../websiteAZ/assets/images/black_foto-2.png') no-repeat;
    background-size: 100%;
    background-position: center;
    transition: 1s;
}

.black_foto{
    display: none;
}

.under_foto-720{
    padding-top: 140%;
    transition: 1s;
}

.all_about-me_description{
    grid-template-columns: repeat(1, 8fr);
    gap: 2% ;
    margin-top: 20px;
    transition: 1s;
}

.numbers{
    font-size: 1em;
    transition: 1s;
}

.dollar5{
    width: 17%;
    transition: 1s;
}

.all_fotter_part{
    margin-top: -15%;
    transition: 1s;
}



.first_part_footer{
    margin-top: 10%;
}

.last_part{
    margin-left: 15%;
    margin-bottom: 10%;
    transition: 1s;
}

}

@media (max-width: 361px) {

    .main_page{
        height: 640px;
        background-size: 115%;
    }


.main_page{
    background: url('../websiteAZ/assets/images/720-800.jpg') no-repeat;
    background-size: 140%;
}


.name{
    font-size: 3em;
    margin-top: 47%;
    transition: 1s;
} 

.vedyschi{
    font-size: 10px;
    letter-spacing: -0.01em;
    transition: 1s;
}

.line{
    max-height: 1em;
    width: 0.1em;
    height: 0.7em;
    margin-top: 1.7%;
    transition: 1s;
}

.phone{
    font-size: 15px;
    margin-top: 13%;
    transition: 1s;
}

.gift{
    font-size: 10px;
    margin-left: 10px;
    width: 120px;
    transition: 1s;
}

.gift_img{
    margin-left: -11%;
    transition: 1s;
}

.likes_two{
    margin-top: 30%;
}

.like_img{
    width: 6%;
    height: 6%;
    transition: 1s;
}

.like_description{
    font-size: 1em;
    transition: 1s;
}

.like_description2{
    font-size: 1em;
    transition: 1s;
    }

.video{
    font-size: 30px;
}

.kavichki{
    width: 5%;
}

.video_text{
    font-size: 10px;
    width: 300px;
}

.video_prosmotr{
    font-size: 20px
}

.video_all_promo{
    margin-right: 0;
    margin-left: 0;
}

.video_description{
    margin-right: 0;
    transition: 1s;
}

.video_promo{
    padding-left: 0;
    transition: 1s;
}




.first_video{
    display: none;
}

.second_video{
    display: none;
}

.first_video-320{
    display: block;
    margin-left: 17px;
    transition: 1s;
}

.second_video-320{
    display: block;
    margin-left: 17px;
    transition: 1s;
}



.about_me{
    font-size: 30px;
}

.right_about-me{
    margin-left: 13%;
}

.foto_and_about-me{
    height: 1420px;
    transition: 1s;
}

.first_part_footer{
    margin-top: 10%;
}

.last_part{
    margin-left: 15%;
    margin-bottom: 10%;
    transition: 1s;
}

}
